* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* INIZIO HEADER */
header{
    height: 40px;
    background-color: rgb(0, 148, 254);
}

.container_box_header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container_logo_login {
    border: 2px dashed;
    background-color: orange;
    width: 150px;
    padding: 5px;
}

.container_link {
    border: 2px dashed;
    background-color: orange;
    width: 400px;
    padding: 5px;
}

.text_logo {
    text-align:left;
}

.text_login {
    text-align: right;
}

.text_link {
    text-align:center;
}

/* FINE HEADER */

/* INIZIO PRIMA SEZIONE */
.container_main_uno {
    height: 250px;
    border: 1px solid;
    background-color: rgb(3, 3, 173);
}
.box_container_uno {
    width: 400px;
    height: 180px;
    border: 1px dashed;
    padding: 10px;
    background-color: rgb(234, 3, 203);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* FINE PRIMA SEZIONE */